<div id="resultadosDePesquisa" class="page-layout carded fullwidth single-scroll" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-lust-500-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Quero desfrutar</span>
            </div>
            <!-- / APP TITLE -->
            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon >search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Procurar" [(ngModel)]="query" (input)="search($event)">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
            <button mat-raised-button
                    [routerLink]="'/quero-desfrutar/preferencias'"
                    class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>Editar filtro</span>
            </button>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span *ngIf="temResultado()">Acho que encontramos</span>
                <span *ngIf="!temResultado()">Ops, altere suas preferências e tente novamente</span>
            </div>
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
            <div class="content" fusePerfectScrollbar>

                <div class="period-media" fxLayout="row wrap">
                    <div *ngFor="let r of resultados" fxFlex="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" class="p-16">
                        <div class="mat-elevation-z4 w-100-p ">

                            <div class="position-relative">
                                <img class="w-100-p"
                                     guidImage.xs.4x3="{{r.fotoDePerfil}}"
                                     defaultImage="{{r.fotoDePerfilThumbnail}}">
                                <div class="position-absolute font-size-20 white-fg p-16 align-left align-bottom">
                                    R$ {{r.valor1Hora | number:'1.2-3'}}
                                </div>
                            </div>

                            <div class="p-16">
                                <div class="h1">{{r.nome}}</div>
                                <div class="h5 secondary-text">
                                  <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-star-rating [rating]="corrigeNota(r.nota)" [starCount]="5" [cssClass]="'amber-fg'"></mat-star-rating>
                                    
                                    <div class="ml-8 secondary-text">{{corrigeNota(r.nota)| number: '1.1-1'}}</div>
                                    <div class="ml-4 secondary-text"></div>
                                    <mat-icon class="ml-16 s-16 amber-fg">location_on</mat-icon>
                                    <div class="ml-4 secondary-text">a {{r.distancia| number:'1.0-1'}}km</div>
                                  </div>
                                </div>
                            </div>

                            <div class="px-16 line-height-1.75">
                                {{r.curtaDescricao}}
                            </div>

                            <div class="card-divider"></div>



                            <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="space-between center">
                                <button mat-button color="accent" [routerLink]="'/chat/'+r.id">Enviar mensagem</button>
                                <button mat-button color="accent" [routerLink]="'/perfil/'+r.id">Ver mais</button>
                            </div>

                        </div>
                    </div>

                    <div fxLayoutAlign="center center" fxFlex="100" *ngIf="carregando">
                        <mat-spinner></mat-spinner>
                    </div>

                </div>
               
            </div>
            <!-- / CONTENT -->
        </div>
    <!-- / CENTER -->
</div>

</div>
